<!DOCTYPE html>
<html>
  <%- include('./stylesheets.ejs') %>
  <body>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><span>Welcome, Please Log-In</span></h1>
      <form action='/login' method='post'>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" placeholder="Email Address">
        </div>
        <div>
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-lrg">Submit</button>
      </form>
      <p>Need to <a href="/signup">Sign-Up</a></p>
      <p>Return to <a href="/">Home </a>Page</p>
    </div>
  </div>
  </body>
</html>
