<!DOCTYPE html>
<html>
  <%- include('../templates/head', {page: 'Login'}) %>
  <body>
    <%- include('../templates/header') %>
  <h1>Login</h1>
  <form action='/user/login' method='post'>
    <label>Email</label>
    <input type='email' name='email' placeholder='Email Address'>
    <label>Password</label>
    <input type='password' name='password' placeholder='Password'>
    <input type='submit' value='login'>
  </form>
  </body>
</html>
