<!DOCTYPE html>
<html>
  <%- include('../templates/head', {page: 'Register'}) %>
  <body>
    <%- include('../templates/header') %>
    <h1>Register</h1>
    <form action="/user" method="post">
      <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter Email">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        <label for="password_confirm">Password Confirmation</label>
        <input type="password" name="password_confirm" placeholder="password">
        <input class="pure-button pure-button-primary" type="submit" value="register">
      </fieldset>
    </form>
  </body>
</html>
