<!DOCTYPE html>
<html>
  <head>
    <title>Overton Orator</title>
    <%- include('./stylesheets.ejs') %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span>Thank You for Registering!</span></h1>
        <a href="/" class="btn btn-success">Home</a>
      </div>
    </div>
  </body>
</html>
